<div class="container-fluid col-4">
<h2>O usuário {{user.name}} tem {{user.date}} anos de idade e o seu email é {{user.email}} </h2>

<a href="/" class="btn btn-primary">Home</a>
<a href="/users/add" class="btn btn-primary">Novo Usuário</a>
</div>